In [1]:
#import necessary packages
import numpy as np
import pandas as pd

train_in_file = 'C:/Users/24307/Downloads/Kaggle/train.csv'
test_in_file = 'C:/Users/24307/Downloads/Kaggle/test.csv'
data = pd.read_csv(train_in_file)
test = pd.read_csv(test_in_file)

In [2]:
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
data[['id', 'num']] = data.PassengerId.str.split('_', -1, expand=True)
explore = data.PassengerId.str.split('_', -1, expand=True)
data_prep = pd.DataFrame()
data_prep[['id','cum']] = explore.groupby(0).count().reset_index()
data = pd.merge(data, data_prep, how='inner', on='id')
data['Status'] = 'empty'
data.loc[data.cum == 1, 'Status'] = 1
data.loc[data.cum != 1, 'Status'] = 0
# data.loc[data.cum == 2, 'Status'] = 'couple'
# data.loc[data.cum == 3, 'Status'] = 'family'
# data.loc[data.cum > 3, 'Status'] = 'tourist group'

test[['id', 'num']] = test.PassengerId.str.split('_', -1, expand=True)
test_explore = test.PassengerId.str.split('_', -1, expand=True)
test_prep = pd.DataFrame()
test_prep[['id','cum']] = test_explore.groupby(0).count().reset_index()
test = pd.merge(test, test_prep, how='inner', on='id')
test['Status'] = 'empty'
test.loc[test.cum == 1, 'Status'] = 1
test.loc[test.cum != 1, 'Status'] = 0
# test.loc[test.cum == 2, 'Status'] = 'couple'
# test.loc[test.cum == 3, 'Status'] = 'family'
# test.loc[test.cum > 3, 'Status'] = 'tourist group'

In [4]:
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,id,num,cum,Status
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,01,1,1
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,01,1,1
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,01,2,0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,02,2,0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,01,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276,01,1,1
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278,01,1,1
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279,01,1,1
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280,01,2,0
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280,02,2,0

In [5]:
#check data shape
data.shape

(8693, 18)

In [6]:
#fill missing CryoSleep data with True for those not spending any money
#fill missing spenditure data of kids under 13 with zero spending
data['TotalSpended'] = data['RoomService'] + data['FoodCourt'] + data['ShoppingMall'] + data['Spa'] + data['VRDeck']
test['TotalSpended'] = test['RoomService'] + test['FoodCourt'] + test['ShoppingMall'] + test['Spa'] + test['VRDeck']
data.loc[(data['CryoSleep'].isnull()) 
         & (data['TotalSpended'] <= 0), 'CryoSleep'] = True
test.loc[(test['CryoSleep'].isnull()) 
         & (test['TotalSpended'] <= 0), 'CryoSleep'] = True

data.loc[(data['FoodCourt' or 'RoomService'
            or 'ShoppingMall' or 'Spa' or 'VRDeck'].isnull()) 
         & (data['Age'] <= 13.5), ['FoodCourt','RoomService'
            , 'ShoppingMall', 'Spa','VRDeck']] = 0
test.loc[(test['FoodCourt' or 'RoomService'
            or 'ShoppingMall' or 'Spa' or 'VRDeck'].isnull()) 
         & (test['Age'] <= 13.5), ['FoodCourt','RoomService'
            , 'ShoppingMall', 'Spa','VRDeck']] = 0

In [7]:
#spending status
data['Consumption'] = 0
data.loc[data.TotalSpended>0, 'Consumption'] = 1
data.loc[data.TotalSpended<=0, 'Consumption'] = 0

test['Consumption'] = 0
test.loc[test.TotalSpended>0, 'Consumption'] = 1
test.loc[test.TotalSpended<=0, 'Consumption'] = 0

In [8]:
#fill nan with median numbers
data = data.fillna(data.median(axis=0))
test = test.fillna(test.median(axis=0))

In [9]:
#check decretized candidate data
print(data.HomePlanet.unique(),
      data.Cabin.unique(),
      data.Destination.unique(), sep='\n')

['Europa' 'Earth' 'Mars' nan]
['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S']
['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e' nan]

In [10]:
#looking for an appropriate option for missing values
from IPython.display import display
display(data.groupby('HomePlanet').count())
display(data.groupby('Destination').count())

,PassengerId,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,id,num,cum,Status,TotalSpended,Consumption
HomePlanet,,,,,,,,,,,,,,,,,,,
Earth,4602,4602,4507,4503,4602,4602,4602,4602,4602,4602,4602,4496,4602,4602,4602,4602,4602,4602,4602
Europa,2131,2131,2070,2094,2131,2131,2131,2131,2131,2131,2131,2085,2131,2131,2131,2131,2131,2131,2131
Mars,1759,1759,1722,1717,1759,1759,1759,1759,1759,1759,1759,1718,1759,1759,1759,1759,1759,1759,1759

,PassengerId,HomePlanet,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,id,num,cum,Status,TotalSpended,Consumption
Destination,,,,,,,,,,,,,,,,,,,
55 Cancri e,1800,1769,1800,1750,1800,1800,1800,1800,1800,1800,1800,1757,1800,1800,1800,1800,1800,1800,1800
PSO J318.5-22,796,780,796,778,796,796,796,796,796,796,796,779,796,796,796,796,796,796,796
TRAPPIST-1e,5915,5765,5915,5788,5915,5915,5915,5915,5915,5915,5915,5779,5915,5915,5915,5915,5915,5915,5915

In [11]:
#fill nans with mode
data.HomePlanet.fillna('Earth', inplace=True)
data.Destination.fillna('TRAPPIST-1e', inplace=True)

test.HomePlanet.fillna('Earth', inplace=True)
test.Destination.fillna('TRAPPIST-1e', inplace=True)

In [12]:
#check result
print(data.HomePlanet.unique(),
      data.Cabin.unique(),
      data.Destination.unique(), sep='\n')

['Europa' 'Earth' 'Mars']
['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S']
['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e']

In [13]:
#zoom in to see cabin
len(data.Cabin.unique()), len(data.Cabin.unique()) == len(data)

(6561, False)

In [14]:
#split cabin into multiple columns
data[['A','B','C']] = data.Cabin.str.split('/', -1, expand=True)
test[['A','B','C']] = test.Cabin.str.split('/', -1, expand=True)

In [15]:
#check mode
display(data.groupby('A').count())
display(data.groupby('B').count())
display(data.groupby('C').count())

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Name,Transported,id,num,cum,Status,TotalSpended,Consumption,B,C
A,,,,,,,,,,,,,,,,,,,,,
A,256,256,256,256,256,256,256,256,256,256,...,249,256,256,256,256,256,256,256,256,256
B,779,779,779,779,779,779,779,779,779,779,...,763,779,779,779,779,779,779,779,779,779
C,747,747,747,747,747,747,747,747,747,747,...,733,747,747,747,747,747,747,747,747,747
D,478,478,478,478,478,478,478,478,478,478,...,468,478,478,478,478,478,478,478,478,478
E,876,876,876,876,876,876,876,876,876,876,...,857,876,876,876,876,876,876,876,876,876
F,2794,2794,2794,2794,2794,2794,2794,2794,2794,2794,...,2721,2794,2794,2794,2794,2794,2794,2794,2794,2794
G,2559,2559,2559,2559,2559,2559,2559,2559,2559,2559,...,2501,2559,2559,2559,2559,2559,2559,2559,2559,2559
T,5,5,5,5,5,5,5,5,5,5,...,4,5,5,5,5,5,5,5,5,5

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Name,Transported,id,num,cum,Status,TotalSpended,Consumption,A,C
B,,,,,,,,,,,,,,,,,,,,,
0,18,18,18,18,18,18,18,18,18,18,...,17,18,18,18,18,18,18,18,18,18
1,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
10,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
100,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
1000,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
996,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
997,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
998,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
999,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Name,Transported,id,num,cum,Status,TotalSpended,Consumption,A,B
C,,,,,,,,,,,,,,,,,,,,,
P,4206,4206,4206,4206,4206,4206,4206,4206,4206,4206,...,4112,4206,4206,4206,4206,4206,4206,4206,4206,4206
S,4288,4288,4288,4288,4288,4288,4288,4288,4288,4288,...,4184,4288,4288,4288,4288,4288,4288,4288,4288,4288

In [16]:
#fill nan with mode
data.A.fillna('F', inplace=True)
data.B.fillna(0, inplace=True)
data.C.fillna('S', inplace=True)

test.A.fillna('F', inplace=True)
test.B.fillna(0, inplace=True)
test.C.fillna('S', inplace=True)

In [17]:
#check results
print(data.A.unique(), data.B.unique(), data.C.unique())

['B' 'F' 'A' 'G' 'E' 'D' 'C' 'T'] ['0' '1' '2' ... '1892' '1893' '1894'] ['P' 'S']

In [18]:
#view data
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Transported,id,num,cum,Status,TotalSpended,Consumption,A,B,C
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,...,False,0001,01,1,1,0.0,0,B,0,P
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,...,True,0002,01,1,1,736.0,1,F,0,S
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,...,False,0003,01,2,0,10383.0,1,A,0,S
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,...,False,0003,02,2,0,5176.0,1,A,0,S
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,...,True,0004,01,1,1,1091.0,1,F,1,S

In [19]:
data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'id', 'num', 'cum', 'Status', 'TotalSpended',
       'Consumption', 'A', 'B', 'C'],
      dtype='object')

In [20]:
#get necessary columns
labels = data.Transported
data = data[['HomePlanet', 'CryoSleep', 'Destination', 'Age','Consumption',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
        'A', 'B', 'C']]

test = test[['HomePlanet', 'CryoSleep', 'Destination', 'Age','Consumption',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 
        'A', 'B', 'C']]

In [21]:
#view data
display(data)

,HomePlanet,CryoSleep,Destination,Age,Consumption,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,A,B,C
0,Europa,False,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,B,0,P
1,Earth,False,TRAPPIST-1e,24.0,1,109.0,9.0,25.0,549.0,44.0,F,0,S
2,Europa,False,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,A,0,S
3,Europa,False,TRAPPIST-1e,33.0,1,0.0,1283.0,371.0,3329.0,193.0,A,0,S
4,Earth,False,TRAPPIST-1e,16.0,1,303.0,70.0,151.0,565.0,2.0,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.0,1,0.0,6819.0,0.0,1643.0,74.0,A,98,P
8689,Earth,True,PSO J318.5-22,18.0,0,0.0,0.0,0.0,0.0,0.0,G,1499,S
8690,Earth,False,TRAPPIST-1e,26.0,1,0.0,0.0,1872.0,1.0,0.0,G,1500,S
8691,Europa,False,55 Cancri e,32.0,1,0.0,1049.0,0.0,353.0,3235.0,E,608,S
8692,Europa,False,TRAPPIST-1e,44.0,1,126.0,4688.0,0.0,0.0,12.0,E,608,S

In [22]:
len(data.A.unique())

8

#convert categories into numeric values
data.A = pd.factorize(data.A)[0]
data.C = pd.factorize(data.C)[0]
data.HomePlanet = pd.factorize(data.HomePlanet)[0]
data.Destination = pd.factorize(data.Destination)[0]

test.A = pd.factorize(test.A)[0]
test.C = pd.factorize(test.C)[0]
test.HomePlanet = pd.factorize(test.HomePlanet)[0]
test.Destination = pd.factorize(test.Destination)[0]

In [23]:
data.B = data.B.astype('int')
test.B = test.B.astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8693 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   object
 2   Destination   8693 non-null   object
 3   Age           8693 non-null   float64
 4   Consumption   8693 non-null   int64
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  A             8693 non-null   object
 11  B             8693 non-null   int32
 12  C             8693 non-null   object
dtypes: float64(6), int32(1), int64(1), object(5)
memory usage: 916.8+ KB

In [24]:
data = pd.get_dummies(data)
test = pd.get_dummies(test)

In [25]:
data.columns

Index(['Age', 'Consumption', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa',
       'VRDeck', 'B', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'CryoSleep_False', 'CryoSleep_True',
       'Destination_55 Cancri e', 'Destination_PSO J318.5-22',
       'Destination_TRAPPIST-1e', 'A_A', 'A_B', 'A_C', 'A_D', 'A_E', 'A_F',
       'A_G', 'A_T', 'C_P', 'C_S'],
      dtype='object')

In [26]:
#ready for preprocessing
data = data.astype('int')
test = test.astype('int')

In [27]:
#start preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
scaler = StandardScaler()
X = scaler.fit_transform(data)
test = scaler.fit_transform(test)

In [28]:
X_train, y_train, X_test, y_test = train_test_split(X, labels, test_size = 0.25, shuffle=True)

It seems to be a binary classified structure, vaguely separated by the the middle blue line.

#using hierachical clustering to understand data
from scipy.cluster.hierarchy import linkage, dendrogram
import matplotlib.pyplot as plt

plt.figure(figsize=(22, 18))
linkage_type = 'ward'
linkage_matrix = linkage(X_train[:200, :], linkage_type)
dendrogram(linkage_matrix)
plt.show()

#using seaborn to see clearer
import seaborn as sns

sns.clustermap(X_train[:200, :], figsize=(12, 18), method=linkage_type, cmap='viridis')
plt.show()

from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import adjusted_rand_score

complete = AgglomerativeClustering(n_clusters=200, linkage='complete')
complete_pred = complete.fit_predict(X_train)

average = AgglomerativeClustering(n_clusters=200, linkage='average')
average_pred = average.fit_predict(X_train)

ward = AgglomerativeClustering(n_clusters=200)
ward_pred = ward.fit_predict(X_train)

complete_score = adjusted_rand_score(X_test.astype('int'), complete_pred)
average_score = adjusted_rand_score(X_test.astype('int'), average_pred)
ward_score = adjusted_rand_score(X_test.astype('int'), ward_pred)

print('Scores: \nWard:', ward_score, '\nAverage:', average_score, '\nComplete:', complete_score)

from sklearn.cluster import KMeans

def k_fit(k):
    scores = []
    for _ in range(1, k+1):
        kmeans_k = KMeans(_)
        kmeans_k.fit(X_train)
        scores.append(abs(kmeans_k.score(X_train)))
    return scores

k=20
scores = k_fit(k)
plt.plot(range(1,k+1), scores, '--', marker='o', color='b')
plt.xlabel('Centroids')
plt.ylabel('Average Distance From Centroids')
plt.title('Scree Plot')

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

def train(models, X_train, X_test, n_estimators=None, min_samples_leaf=None):
    model_selection = []
    for model in models:
        if model != AdaBoostClassifier and model != DecisionTreeClassifier:
            model = model(n_estimators=200, min_samples_leaf=3)
            model.fit(X_train, X_test)
            prediction = model.predict(y_train)
            score = accuracy_score(prediction, y_test)
            print(model, score)
        elif model != DecisionTreeClassifier:
            rf = DecisionTreeClassifier(min_samples_leaf=3, max_depth=25)
            ada = model(base_estimator=rf, n_estimators=200)
            ada.fit(X_train, X_test)
            prediction = ada.predict(y_train)
            score = accuracy_score(prediction, y_test)
            print(model, score)
        else:
            tree = DecisionTreeClassifier(min_samples_leaf=3, max_depth=200)
            tree.fit(X_train, X_test)
            prediction = tree.predict(y_train)
            score = accuracy_score(prediction, y_test)
            print(model, score)
        model_selection.append(model)
    return model_selection
            
results = train([RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, DecisionTreeClassifier],
      X_train,
      X_test)

#We could try adding clustered labels into data to see if that helps improvement
ward = AgglomerativeClustering(n_clusters=2)
X_ward_pred = ward.fit_predict(X_train)
X_ward_pred = scaler.fit_transform(X_ward_pred.reshape(-1,1))
X_added = np.hstack((X_train, ward_pred.reshape(-1,1)))


y_ward_pred = ward.fit_predict(y_train)
y_ward_pred = scaler.fit_transform(y_ward_pred.reshape(-1,1))
y_added = np.hstack((y_train, y_ward_pred.reshape(-1,1)))


t_added = ward.fit_predict(test)
t_added = scaler.fit_transform(t_added.reshape(-1,1))
t_added = np.hstack((test, t_added.reshape(-1,1)))


def train2(models, X_train, X_test, n_estimators=None, min_samples_leaf=None):
    model_selection = []
    for model in models:
        if model != AdaBoostClassifier and model != DecisionTreeClassifier:
            model = model(n_estimators=200, min_samples_leaf=3, min_samples_split=2)
            model.fit(X_train, X_test)
            prediction = model.predict(y_added)
            score = accuracy_score(prediction, y_test)
            print(model, score)
        elif model != DecisionTreeClassifier:
            rf = DecisionTreeClassifier(min_samples_leaf=3, max_depth=25)
            ada = model(base_estimator=rf, n_estimators=200)
            ada.fit(X_train, X_test)
            prediction = ada.predict(y_added)
            score = accuracy_score(prediction, y_test)
            print(model, score)
        else:
            tree = DecisionTreeClassifier(min_samples_leaf=3, max_depth=200)
            tree.fit(X_train, X_test)
            prediction = tree.predict(y_added)
            score = accuracy_score(prediction, y_test)
            print(model, score)
        model_selection.append(model)
    return model_selection
results2 = train2([RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, DecisionTreeClassifier],
      X_added,
      X_test)

looks clustered labels are more effective

#Use grid search to find best parameters
from sklearn.metrics import make_scorer, f1_score
from sklearn.model_selection import GridSearchCV

clf = RandomForestClassifier()
parameters = {'n_estimators':[100, 150, 200],
              'min_samples_leaf': [3, 5, 7, 9]}

scorer = make_scorer(f1_score)
grid_obj = GridSearchCV(clf, scoring=scorer, param_grid=parameters)
print('done1')
grid_obj.fit(X_train, X_test.astype('int'))
print('done2')
best_clf = grid_obj.best_estimator_
best_clf.fit(X_train, X_test.astype('int'))
print('done3')
prediction = best_clf.predict(y_train)
print(accuracy_score(prediction, y_test.astype('int')), f1_score(prediction, y_test.astype('int')))

rf_model = results[0]
np.savetxt('result.txt', rf_model.predict(test), fmt='%s')

np.savetxt('result2.txt', best_clf.predict(test), fmt='%s')

In [29]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

epochs = 100
model_list = []
scores = []
for e in range(epochs):
    X_train, y_train, X_test, y_test = train_test_split(X, labels, test_size = 0.25, shuffle=True)
    model = SVC(class_weight='balanced')
    model.fit(X_train, X_test)
    prediction = model.predict(y_train)
    score = accuracy_score(prediction, y_test)
    scores.append(score)
    model_list.append(model)
    print(score, sep='\n')

0.7943882244710212
0.7856485740570377
0.8077276908923643
0.8146274149034038
0.7994480220791168
0.7943882244710212
0.7920883164673413
0.7856485740570377
0.7920883164673413
0.8012879484820608
0.8049678012879485
0.7953081876724931
0.8026678932842686
0.8035878564857406
0.796688132474701
0.7930082796688133
0.8040478380864765
0.8104875804967802
0.8017479300827967
0.7920883164673413
0.8049678012879485
0.7994480220791168
0.7920883164673413
0.7999080036798528
0.81278748850046
0.7999080036798528
0.796688132474701
0.81278748850046
0.8081876724931003
0.8109475620975161
0.7907083716651334
0.8114075436982521
0.7870285188592456
0.7888684452621895
0.8072677092916284
0.7884084636614536
0.8118675252989881
0.7948482060717571
0.8049678012879485
0.8072677092916284
0.7907083716651334
0.7943882244710212
0.8104875804967802
0.796688132474701
0.796228150873965
0.8063477460901564
0.8003679852805887
0.8012879484820608
0.8100275988960441
0.8035878564857406
0.8045078196872125
0.8003679852805887
0.7925482980680773
0.8003679852805887
0.796688132474701
0.8017479300827967
0.7911683532658693
0.8206071757129715
0.8035878564857406
0.7897884084636615
0.8054277828886844
0.796228150873965
0.7948482060717571
0.7985280588776449
0.7916283348666053
0.7948482060717571
0.8114075436982521
0.8008279668813247
0.7879484820607175
0.7888684452621895
0.8031278748850046
0.8017479300827967
0.8049678012879485
0.8072677092916284
0.8081876724931003
0.8063477460901564
0.8132474701011959
0.7994480220791168
0.8160073597056118
0.8049678012879485
0.8008279668813247
0.8026678932842686
0.8035878564857406
0.7999080036798528
0.7851885924563018
0.796228150873965
0.7999080036798528
0.8141674333026679
0.7948482060717571
0.796228150873965
0.7925482980680773
0.8022079116835327
0.8035878564857406
0.7856485740570377
0.797608095676173
0.8104875804967802
0.7948482060717571
0.7893284268629255
0.797608095676173
0.8003679852805887

In [30]:
max(scores)

0.8206071757129715

In [31]:
np.savetxt('result3.txt', model_list[np.argmax(scores)].predict(test), fmt='%s')

#Curious about how Xgboost performs
from xgboost import XGBClassifier
model = XGBClassifier(n_estimators=800, min_samples_leaf=2, max_depth=50, n_jobs=20)
model.fit(X_train, X_test)
prediction = model.predict(y_train)
score = accuracy_score(prediction, y_test)
print(model, score, sep='\n')

np.savetxt('result4.txt', model.predict(test), fmt='%s')