In [1]:
import pandas as pd

train_in_file = 'C:/Users/24307/Downloads/Kaggle/train.csv'
test_in_file = 'C:/Users/24307/Downloads/Kaggle/test.csv'
data = pd.read_csv(train_in_file)
test = pd.read_csv(test_in_file)

In [2]:
t = data.append(test)
t

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [3]:
t.reset_index(inplace=True)

In [4]:
t.loc[[0,1],:]

,index,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True

In [5]:
a = t.Cabin

In [6]:
counter = 0
empty = 2
empty_index_list = []
non_empty_index_list = []
for i in range(1, len(a)-1):
    if str(a[i]) == 'nan':
        empty += 1
        empty_index_list.append(i)
    else:
        non_empty_index_list.append(i)
    if (str(a[i]) == 'nan') & (str(a[i-1]) == 'nan') & (str(a[i+1]) == 'nan'):
        counter += 1
print('Empty: {}\nNeigbouring: {}'.format(empty, counter))

Empty: 301
Neigbouring: 0

In [7]:
t['Deck'] = t.loc[non_empty_index_list,:].Cabin.apply(lambda x: str(x).split('/')[0])
t['CabinNumber'] = t.loc[non_empty_index_list,:].Cabin.apply(lambda x: str(x).split('/')[1])
t['CabinSide'] = t.loc[non_empty_index_list,:].Cabin.apply(lambda x: str(x).split('/')[2])

In [8]:
t_slice = t.loc[:, 'Deck':'CabinSide']

In [9]:
t_slice.CabinNumber = t_slice.CabinNumber.astype('float')

In [10]:
deck_dic = dict(t_slice.groupby(['Deck','CabinSide']).CabinNumber.max().astype('int'))

In [20]:
deck_dic

{('A', 'P'): 98,
 ('A', 'S'): 109,
 ('B', 'P'): 301,
 ('B', 'S'): 353,
 ('C', 'P'): 309,
 ('C', 'S'): 342,
 ('D', 'P'): 297,
 ('D', 'S'): 278,
 ('E', 'P'): 598,
 ('E', 'S'): 608,
 ('F', 'P'): 1894,
 ('F', 'S'): 1796,
 ('G', 'P'): 1508,
 ('G', 'S'): 1500,
 ('T', 'P'): 4,
 ('T', 'S'): 3}

In [11]:
def trial(deck_dic):
    deck_map = []
    for d, s in deck_dic.keys():
        max_num = deck_dic.get((d, s))
        for i in range(max_num+1):
            i = str(i) # need convert numeric into strings to join
            join_result = '/'.join((d, i, s))
            deck_map.append(join_result)
    return deck_map

deck_map = trial(deck_dic)

In [12]:
Cabin_list = list(t.Cabin)

Counter = 0
c_map = []
for c in deck_map:
    try:
        Cabin_list.index(c)
    except:
        c_map.append(c)
        Counter += 1
print(Counter, c_map)

189 ['A/94/P', 'B/13/P', 'B/30/P', 'B/98/P', 'B/99/P', 'B/137/P', 'B/12/S', 'B/88/S', 'B/151/S', 'B/328/S', 'C/67/P', 'C/138/P', 'C/13/S', 'C/35/S', 'C/40/S', 'C/193/S', 'C/214/S', 'C/270/S', 'C/277/S', 'C/290/S', 'C/298/S', 'D/69/P', 'D/139/P', 'D/178/P', 'D/191/P', 'D/200/P', 'D/216/P', 'D/235/P', 'D/281/P', 'D/292/P', 'D/36/S', 'D/111/S', 'D/113/S', 'D/194/S', 'D/212/S', 'D/275/S', 'E/20/P', 'E/21/P', 'E/49/P', 'E/58/P', 'E/65/P', 'E/81/P', 'E/104/P', 'E/150/P', 'E/154/P', 'E/161/P', 'E/221/P', 'E/257/P', 'E/277/P', 'E/345/P', 'E/387/P', 'E/414/P', 'E/501/P', 'E/541/P', 'E/15/S', 'E/30/S', 'E/174/S', 'E/207/S', 'E/300/S', 'E/301/S', 'E/344/S', 'E/448/S', 'E/528/S', 'F/20/P', 'F/70/P', 'F/152/P', 'F/181/P', 'F/293/P', 'F/307/P', 'F/320/P', 'F/441/P', 'F/515/P', 'F/519/P', 'F/559/P', 'F/610/P', 'F/772/P', 'F/788/P', 'F/791/P', 'F/820/P', 'F/830/P', 'F/849/P', 'F/891/P', 'F/1093/P', 'F/1122/P', 'F/1178/P', 'F/1237/P', 'F/1295/P', 'F/1392/P', 'F/1489/P', 'F/1544/P', 'F/1628/P', 'F/1739/P', 'F/1769/P', 'F/1889/P', 'F/106/S', 'F/157/S', 'F/170/S', 'F/213/S', 'F/230/S', 'F/235/S', 'F/300/S', 'F/350/S', 'F/542/S', 'F/551/S', 'F/563/S', 'F/636/S', 'F/674/S', 'F/827/S', 'F/923/S', 'F/944/S', 'F/1267/S', 'F/1365/S', 'F/1376/S', 'F/1401/S', 'F/1424/S', 'F/1492/S', 'F/1571/S', 'F/1585/S', 'F/1596/S', 'F/1623/S', 'F/1785/S', 'G/39/P', 'G/73/P', 'G/121/P', 'G/151/P', 'G/171/P', 'G/273/P', 'G/345/P', 'G/422/P', 'G/515/P', 'G/590/P', 'G/723/P', 'G/775/P', 'G/824/P', 'G/943/P', 'G/1053/P', 'G/1118/P', 'G/1130/P', 'G/1134/P', 'G/1157/P', 'G/1252/P', 'G/1283/P', 'G/1286/P', 'G/1366/P', 'G/1445/P', 'G/1474/P', 'G/1506/P', 'G/2/S', 'G/40/S', 'G/46/S', 'G/49/S', 'G/75/S', 'G/79/S', 'G/110/S', 'G/257/S', 'G/267/S', 'G/280/S', 'G/334/S', 'G/338/S', 'G/356/S', 'G/399/S', 'G/406/S', 'G/534/S', 'G/579/S', 'G/649/S', 'G/684/S', 'G/726/S', 'G/759/S', 'G/766/S', 'G/786/S', 'G/821/S', 'G/829/S', 'G/831/S', 'G/859/S', 'G/874/S', 'G/876/S', 'G/878/S', 'G/1041/S', 'G/1062/S', 'G/1085/S', 'G/1164/S', 'G/1178/S', 'G/1200/S', 'G/1206/S', 'G/1212/S', 'G/1272/S', 'G/1282/S', 'G/1385/S', 'G/1447/S']

In [19]:
301-189

112

In [13]:
t.Deck.isna().sum()

301