In [1]:
import pandas as pd

train_in_file = 'C:/Users/24307/Downloads/Kaggle/train.csv'
test_in_file = 'C:/Users/24307/Downloads/Kaggle/test.csv'
data = pd.read_csv(train_in_file)
test = pd.read_csv(test_in_file)

In [2]:
t = data.append(test)
t

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [3]:
t.reset_index(inplace=True)

In [4]:
t.loc[[0,1],:]

,index,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True

In [5]:
a = t.Cabin

In [6]:
counter = 0
empty = 2
empty_index_list = []
non_empty_index_list = []
for i in range(1, len(a)-1):
    if str(a[i]) == 'nan':
        empty += 1
        empty_index_list.append(i)
    else:
        non_empty_index_list.append(i)
    if (str(a[i]) == 'nan') & (str(a[i-1]) == 'nan') & (str(a[i+1]) == 'nan'):
        counter += 1
print('Empty: {}\nNeigbouring: {}'.format(empty, counter))

Empty: 301
Neigbouring: 0

In [7]:
t['Deck'] = t.loc[non_empty_index_list,:].Cabin.apply(lambda x: str(x).split('/')[0])
t['CabinNumber'] = t.loc[non_empty_index_list,:].Cabin.apply(lambda x: str(x).split('/')[1])
t['CabinSide'] = t.loc[non_empty_index_list,:].Cabin.apply(lambda x: str(x).split('/')[2])

In [8]:
t.columns

Index(['index', 'PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin',
       'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall',
       'Spa', 'VRDeck', 'Name', 'Transported', 'Deck', 'CabinNumber',
       'CabinSide'],
      dtype='object')

In [9]:
t['id'] = t.PassengerId.apply(lambda x: str(x).split('_')[0])
t['id_number'] = t.PassengerId.apply(lambda x: str(x).split('_')[1])

In [10]:
t_change = t.sort_values(['id','id_number']).reset_index()

In [11]:
t_change

,level_0,index,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,...,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,CabinNumber,CabinSide,id,id_number
0,0,0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,...,0.0,0.0,0.0,Maham Ofracculy,False,NaN,NaN,NaN,0001,01
1,1,1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,...,25.0,549.0,44.0,Juanna Vines,True,F,0,S,0002,01
2,2,2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,...,0.0,6715.0,49.0,Altark Susent,False,A,0,S,0003,01
3,3,3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,...,371.0,3329.0,193.0,Solam Susent,False,A,0,S,0003,02
4,4,4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,...,151.0,565.0,2.0,Willy Santantines,True,F,1,S,0004,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,12969,4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,...,0.0,0.0,0.0,Lilace Leonzaley,NaN,NaN,NaN,NaN,9277,01
12966,8689,8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,...,0.0,0.0,0.0,Kurta Mondalley,False,G,1499,S,9278,01
12967,8690,8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,...,1872.0,1.0,0.0,Fayey Connon,True,G,1500,S,9279,01
12968,8691,8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,...,0.0,353.0,3235.0,Celeon Hontichre,False,E,608,S,9280,01
12969,8692,8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,...,0.0,0.0,12.0,Propsh Hontichre,True,E,608,S,9280,02

In [12]:
t_slice = t_change.loc[:, 'Deck':'CabinSide']

In [13]:
t_slice.CabinNumber = t_slice.CabinNumber.astype('float')

In [14]:
deck_dic = dict(t_slice.groupby(['Deck','CabinSide']).CabinNumber.max().astype('int'))

In [15]:
deck_dic

{('A', 'P'): 98,
 ('A', 'S'): 109,
 ('B', 'P'): 301,
 ('B', 'S'): 353,
 ('C', 'P'): 309,
 ('C', 'S'): 342,
 ('D', 'P'): 297,
 ('D', 'S'): 278,
 ('E', 'P'): 598,
 ('E', 'S'): 608,
 ('F', 'P'): 1894,
 ('F', 'S'): 1796,
 ('G', 'P'): 1508,
 ('G', 'S'): 1500,
 ('T', 'P'): 4,
 ('T', 'S'): 3}

In [16]:
def trial(deck_dic):
    deck_map = []
    for d, s in deck_dic.keys():
        max_num = deck_dic.get((d, s))
        for i in range(max_num+1):
            i = str(i) # need convert numeric into strings to join
            join_result = '/'.join((d, i, s))
            deck_map.append(join_result)
    return deck_map

deck_map = trial(deck_dic)

In [20]:
t_change[66]

KeyError: 66

In [17]:
def findPrev(idx, t_change):
    t_change.CabinNumber = t_change.CabinNumber.astype('float')
    sub_t_slice = t_change[:idx]
    return dict(sub_t_slice.groupby(['Deck','CabinSide']).CabinNumber.max().astype('int'))

def findNext(idx, t_change):
    t_change.CabinNumber = t_change.CabinNumber.astype('float')
    sub_t_slice = t_change[idx:]
    return dict(sub_t_slice.groupby(['Deck','CabinSide']).CabinNumber.min().astype('int'))

def processAlgorithm(t_change):
    df_list = []
    for idx, t in enumerate(t_change.Cabin):
        if str(t) == 'nan':
            next_dic = findNext(idx, t_change)
            for key, val in findPrev(idx, t_change).items():
                d = str(key[0])
                v = str(val)
                s = str(key[1])
                next_val = next_dic.get(key)
                t_change.
                
                if val == next_val:
                    df_list.append(['/'.join((d, v, s)), idx])
                    break
                if val+1 == next_val:
                    pass
                if val+1 != next_val:
                    v = str(val+1)
                    df_list.append(['/'.join((d, v, s)), idx])
                    break
    return df_list
    
processAlgorithm(t_change)

[['G/2/S', 15],
 ['B/0/S', 66],
 ['F/20/P', 137],
 ['E/15/S', 315],
 ['E/15/S', 331],
 ['E/15/S', 336],
 ['G/40/S', 382],
 ['G/40/S', 394],
 ['B/13/P', 404],
 ['B/13/P', 412],
 ['B/13/P', 421],
 ['B/13/P', 440],
 ['B/13/P', 444],
 ['E/20/P', 479],
 ['E/20/P', 492],
 ['E/20/P', 505],
 ['E/20/P', 517],
 ['B/12/S', 529],
 ['B/14/S', 623],
 ['G/73/P', 650],
 ['E/30/S', 701],
 ['G/75/S', 715],
 ['G/79/S', 732],
 ['F/106/S', 809],
 ['B/30/P', 1003],
 ['B/30/P', 1016],
 ['F/152/P', 1042],
 ['G/110/S', 1049],
 ['C/29/S', 1077],
 ['C/35/S', 1175],
 ['C/35/S', 1178],
 ['C/35/S', 1188],
 ['C/35/S', 1244],
 ['C/35/S', 1251],
 ['F/170/S', 1319],
 ['D/35/S', 1401],
 ['D/36/S', 1423],
 ['C/40/S', 1429],
 ['C/40/S', 1441],
 ['C/40/S', 1466],
 ['C/40/S', 1543],
 ['F/213/S', 1574],
 ['G/171/P', 1601],
 ['E/65/P', 1603],
 ['B/45/S', 1605],
 ['C/42/P', 1631],
 ['F/230/S', 1712],
 ['F/235/S', 1759],
 ['E/81/P', 1842],
 ['G/222/P', 2059],
 ['C/53/P', 2082],
 ['G/226/S', 2113],
 ['F/293/P', 2146],
 ['F/300/S', 2222],
 ['F/307/P', 2250],
 ['F/320/P', 2311],
 ['G/257/S', 2357],
 ['E/104/P', 2408],
 ['E/104/P', 2414],
 ['E/104/P', 2421],
 ['D/61/S', 2442],
 ['E/104/P', 2454],
 ['G/267/S', 2457],
 ['G/280/S', 2537],
 ['F/350/S', 2592],
 ['D/59/P', 2689],
 ['C/67/P', 2813],
 ['D/70/S', 2970],
 ['G/334/S', 2987],
 ['G/338/S', 2997],
 ['B/88/S', 3001],
 ['B/88/S', 3035],
 ['F/441/P', 3101],
 ['G/356/S', 3124],
 ['G/367/P', 3194],
 ['D/69/P', 3277],
 ['G/396/P', 3416],
 ['E/174/S', 3481],
 ['E/174/S', 3484],
 ['F/515/P', 3507],
 ['E/150/P', 3529],
 ['E/150/P', 3530],
 ['G/406/S', 3560],
 ['E/154/P', 3569],
 ['E/154/P', 3590],
 ['G/422/P', 3652],
 ['E/161/P', 3701],
 ['E/161/P', 3770],
 ['F/542/S', 3989],
 ['F/551/S', 4057],
 ['F/610/P', 4089],
 ['F/563/S', 4142],
 ['B/98/P', 4233],
 ['B/98/P', 4254],
 ['G/515/P', 4365],
 ['E/207/S', 4389],
 ['G/505/S', 4438],
 ['T/5/P', 4569],
 ['B/121/S', 4577],
 ['G/534/S', 4661],
 ['F/636/S', 4689],
 ['D/111/S', 4751],
 ['D/111/S', 4886],
 ['D/111/S', 4914],
 ['D/111/S', 4915],
 ['D/111/S', 4931],
 ['D/113/S', 4957],
 ['D/113/S', 4985],
 ['G/590/P', 5016],
 ['G/590/P', 5017],
 ['T/5/P', 5084],
 ['E/221/P', 5193],
 ['E/221/P', 5211],
 ['E/221/P', 5225],
 ['E/221/P', 5260],
 ['E/221/P', 5264],
 ['F/788/P', 5343],
 ['F/791/P', 5346],
 ['B/151/S', 5540],
 ['B/151/S', 5565],
 ['B/151/S', 5570],
 ['G/657/P', 5614],
 ['F/830/P', 5626],
 ['G/661/S', 5655],
 ['D/139/P', 5748],
 ['D/139/P', 5782],
 ['D/139/P', 5787],
 ['D/139/P', 5823],
 ['C/133/P', 5857],
 ['B/137/P', 5989],
 ['B/137/P', 6019],
 ['C/155/S', 6075],
 ['C/138/P', 6117],
 ['C/138/P', 6127],
 ['E/277/P', 6133],
 ['E/277/P', 6148],
 ['G/723/P', 6159],
 ['G/726/S', 6227],
 ['B/183/S', 6472],
 ['E/300/S', 6492],
 ['E/300/S', 6493],
 ['E/300/S', 6514],
 ['T/5/P', 6535],
 ['G/766/S', 6545],
 ['T/5/P', 6578],
 ['T/5/P', 6709],
 ['T/5/P', 6728],
 ['G/775/P', 6745],
 ['G/786/S', 6750],
 ['T/5/P', 6781],
 ['F/923/S', 6821],
 ['C/193/S', 6927],
 ['C/193/S', 6952],
 ['C/193/S', 6956],
 ['G/821/S', 7011],
 ['T/5/P', 7035],
 ['G/829/S', 7053],
 ['G/831/S', 7090],
 ['G/824/P', 7126],
 ['G/824/P', 7134],
 ['T/5/P', 7219],
 ['B/202/S', 7333],
 ['G/859/S', 7354],
 ['T/5/P', 7391],
 ['F/1093/P', 7432],
 ['E/344/S', 7535],
 ['G/874/S', 7576],
 ['F/1122/P', 7584],
 ['G/876/S', 7600],
 ['C/214/S', 7632],
 ['C/214/S', 7638],
 ['C/214/S', 7675],
 ['C/214/S', 7749],
 ['C/214/S', 7810],
 ['C/214/S', 7863],
 ['C/214/S', 7923],
 ['F/1194/P', 8015],
 ['T/5/P', 8102],
 ['G/943/P', 8121],
 ['F/1237/P', 8366],
 ['A/57/P', 8413],
 ['D/191/P', 8450],
 ['D/191/P', 8465],
 ['A/58/P', 8534],
 ['T/5/P', 8582],
 ['T/5/P', 8594],
 ['F/1295/P', 8745],
 ['G/1015/P', 8804],
 ['T/5/P', 8822],
 ['D/200/P', 8906],
 ['D/200/P', 8942],
 ['D/200/P', 8948],
 ['D/200/P', 8973],
 ['D/200/P', 8976],
 ['G/1041/S', 8988],
 ['G/1041/S', 8994],
 ['D/194/S', 9043],
 ['E/414/P', 9123],
 ['E/414/P', 9143],
 ['E/414/P', 9155],
 ['F/1267/S', 9265],
 ['F/1267/S', 9267],
 ['T/5/P', 9273],
 ['T/5/P', 9295],
 ['G/1085/S', 9315],
 ['F/1392/P', 9385],
 ['E/448/S', 9533],
 ['E/450/S', 9556],
 ['D/216/P', 9687],
 ['G/1118/P', 9716],
 ['D/212/S', 9787],
 ['D/212/S', 9825],
 ['T/5/P', 9851],
 ['G/1134/P', 9868],
 ['F/1365/S', 9995],
 ['F/1365/S', 9999],
 ['F/1376/S', 10050],
 ['F/1489/P', 10081],
 ['F/1489/P', 10082],
 ['C/235/P', 10127],
 ['G/1178/S', 10146],
 ['F/1401/S', 10184],
 ['C/270/S', 10290],
 ['C/270/S', 10313],
 ['D/235/P', 10365],
 ['D/235/P', 10394],
 ['D/235/P', 10408],
 ['D/235/P', 10411],
 ['D/235/P', 10434],
 ['D/235/P', 10440],
 ['C/277/S', 10460],
 ['C/280/S', 10558],
 ['C/290/S', 10786],
 ['C/290/S', 10804],
 ['T/5/P', 10855],
 ['F/1492/S', 10877],
 ['F/1492/S', 10881],
 ['F/1628/P', 10929],
 ['F/1628/P', 10935],
 ['G/1272/S', 10965],
 ['T/5/P', 10995],
 ['T/5/P', 10997],
 ['T/5/P', 11019],
 ['E/521/S', 11037],
 ['G/1283/P', 11056],
 ['G/1286/P', 11074],
 ['G/1286/P', 11082],
 ['C/298/S', 11129],
 ['C/298/S', 11148],
 ['G/1300/S', 11226],
 ['T/5/P', 11247],
 ['T/5/P', 11334],
 ['G/1317/P', 11363],
 ['F/1571/S', 11471],
 ['F/1585/S', 11528],
 ['F/1596/S', 11583],
 ['T/5/P', 11598],
 ['B/328/S', 11662],
 ['B/328/S', 11676],
 ['B/328/S', 11677],
 ['F/1623/S', 11759],
 ['E/541/P', 11767],
 ['F/1739/P', 11835],
 ['T/5/P', 11988],
 ['G/1385/S', 11995],
 ['C/324/S', 11999],
 ['F/1769/P', 12025],
 ['T/5/P', 12084],
 ['G/1416/P', 12174],
 ['F/1808/P', 12234],
 ['T/5/P', 12241],
 ['A/94/P', 12440],
 ['A/94/P', 12514],
 ['A/94/P', 12544],
 ['A/94/P', 12651],
 ['A/94/P', 12653],
 ['A/94/P', 12658],
 ['A/94/P', 12668],
 ['A/94/P', 12671],
 ['A/94/P', 12694],
 ['D/292/P', 12768],
 ['A/110/S', 12892],
 ['A/110/S', 12893],
 ['A/110/S', 12909],
 ['A/110/S', 12918],
 ['A/110/S', 12954]]

In [18]:
group = processAlgorithm(t_change)

In [19]:
len(group)

286

In [21]:
len(set(group))

167

In [ ]:
Cabin_list = list(t.Cabin)

Counter = 0
c_map = []
for c in deck_map:
    try:
        Cabin_list.index(c)
    except:
        c_map.append(c)
        Counter += 1
print(Counter, c_map)

In [ ]:
301-189

In [ ]:
t.Deck.isna().sum()